name: CPU Test

on:
  workflow_dispatch:

jobs:
  stress-test:
    runs-on: ubuntu-latest
    steps:
      - name: Show CPU Info
        run: lscpu

      - name: Run 40 jobs for 100 seconds
        run: |
          for i in $(seq 1 40); do
            (timeout 100 bash -c 'while true; do :; done') &
          done
          wait
